<div class="container-fluid" id="navbarC">
    <nav class="navbar navbar-expand-sm navbar-light container">
        <a class="navbar-brand" href="/">EZ-LIFE</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavId">
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li><a href="/users/admin" id="nav-worker">Đơn Hàng</a></li>
                <li><a href="/users/admin/chart">Báo cáo</a></li>
                <li><a href="/users/profile">Tài Khoản</a></li>
                <li><a href="/users/logout" onclick="doForm('modal-login','modal-sign-up')"><span
                            class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
            </ul>
        </div>
    </nav>
</div>