<link rel="stylesheet" href="/css/customer_info.css">
<div class="col-md-3">
    <div class="left">
        <div class="left-name">
            <h3>Thinh</h3>
        </div>
        <div class="left-options">
            <ul>
                <li><a href="/users/orderhistory" class="{{history}}"><span class="glyphicon glyphicon-credit-card"></span> Lịch Sử giao dịch</a></li>
                <li><a href="/users/profile" class="{{profile}}"><span class="glyphicon glyphicon-list-alt"></span> Thông tin cá
                        nhân</a></li>
                <li><a href="/users/changepassword" class="{{change}}"><span class="glyphicon glyphicon-lock"></span> Đổi mật khẩu</a></li>
                <li><a href="/users/logout"><span class="glyphicon glyphicon-off"></span> Thoát</a></li>
            </ul>
        </div>
    </div>
</div>