<form action="/users/changepassword" method="POST">
    <div class="col-md-6" style="border: 2px solid #707070; margin-left: 50px;">
        <h3 style="color:red; text-align:center;"><b>ĐỔI MẬT KHẨU</b></h3>
        <h4>{{error}}</h4>
        <br><br>
        <label for="old_password">Mật khẩu cũ: </label>
        <input type="password" class="form-control" name="old_password">
        <br>
        <label for="new_password">Mật khẩu mới: </label>
        <input type="password" class="form-control" name="new_password">
        <br>
        <label for="confirm_password">Xác nhận mật khẩu: </label>
        <input type="password" class="form-control" name="confirm_password">
        <br>
        <button id="Confirm" name="Confirm" class="btn btn-success" style="margin: 0 40%">Confirm</button>
        <br><br>
    </div>
</form>