<link rel="stylesheet" href="/css/introduction.css">
<link rel="stylesheet" href="/css/support.css">
<!--Bắt đầu phần Banner-->
<div class="jumbotron text-center banner-intro">
    <div class="slogan slogan-intro">
        <h1>{{paymentStatus}}</h1>
        <p>{{paymentMessage}}</p>
    </div>
</div>
<!--Kết thúc phần Banner-->