<link rel="stylesheet" href="/css/contact.css">
<!--Bắt đầu phần Banner-->
<div class="jumbotron text-center banner-intro">
    <div class="slogan slogan-intro">
        <h1>CHÚNG TÔI LUÔN SẴN SÀNG TRỢ GIÚP</h1>
        <p>HÃY CHO CHÚNG TÔI BIẾT VẤN ĐỀ BẠN ĐANG CẦN HỖ TRỢ</p>
    </div>
</div>
<!--Kết thúc phần Banner-->

<!-- Contact Part -->
<div class="container">
    <div class="contact-content">
        <h2>CÔNG TY CỔ PHẦN DỊCH VỤ EZ-LIFE</h2>
        <p><span class="text-c">
                <strong>TP. Hồ Chí Minh:</strong> Tầng 2, tòa nhà Đại Thanh Bình, số 911-915 đường Nguyễn Trãi, quận 5
            </span></p>
        <p><span class="text-c">
                <strong><span class="glyphicon glyphicon-phone-alt"></span></strong> Tổng đài hỗ trợ:
                <label class="c-red">0981864371</label>
            </span></p>
        <p><span class="text-c">
                <strong><span class="glyphicon glyphicon-globe"></span></strong> Website:
                <a>www.ez-life.com</a>
            </span></p>
        <p><span class="text-c">
                <strong><span class="glyphicon glyphicon-envelope"></span></strong> Hộp thư:
                <a>ez-life@gmail.com</a>
            </span></p>
    </div>
</div>
<!-- End of contact part -->