<link rel="stylesheet" href="/css/introduction.css">
<!--Bắt đầu phần Banner-->
<div class="jumbotron text-center banner-intro">
    <div class="slogan slogan-intro">
        <h1>ĐƠN GIẢN HÓA</h1>
        <h2>CÔNG VIỆC GIA ĐÌNH</h2>
        <p>VÌ CHÚNG TÔI LUÔN Ở ĐÓ MỖI KHI BẠN CẦN</p>
    </div>
</div>
<!--Kết thúc phần Banner-->

<!--Bắt đầu phần mục tiêu-->
<div class="container text-center">
    <div class="services">
        <div class="describe">
            <h1>MỤC TIÊU CỦA CHÚNG TÔI</h1>
            <p>NÂNG CAO GIÁ TRỊ CỘNG ĐỒNG</p>
        </div>
        <div class="textTitle">
            <span>
                "EZ-LIFE được xây dựng bởi Công ty dịch vụ gia đình EZ-LIFE nhằm tạo ra một hệ thống cầu nối trực tiếp
                giữa người cung cấp và người sử dụng dịch vụ.
                Mục tiêu của chúng tôi là nhằm nâng cao giá trị cộng đồng, tạo ra thêm việc làm cho xã hội, mang sự
                thuận tiện đến từng gia đình."
            </span>
            <p class="main-image">
                <img src="/images/clasped-hands-541849_960_720.jpg" alt="Mục tiêu của EZ-LIFE" class="img-responsive">
            </p>
            <span>
                "Với EZ-LIFE, chưa bao giờ mọi việc trở nên đơn giản đến thế - chỉ với vài lần chạm, bạn đã có thể tiếp
                cận rất nhiều dịch vụ tiện ích từ giúp việc gia đình, dọn dẹp vệ sinh nhà cửa, sửa chữa điện nước, sửa
                chữa bảo dưỡng máy lạnh, sửa chữa thiết bị gia dụng cho đến chăm sóc sức khỏe gia đình và
                tư vấn học tập cho các con thân yêu của bạn."
            </span>
        </div>
    </div>
</div>
<!--Kết thúc phần mục tiêu-->