<link rel="stylesheet" href="/css/introduction.css">
<link rel="stylesheet" href="/css/support.css">
<!--Bắt đầu phần Banner-->
<div class="jumbotron text-center banner-intro">
    <div class="slogan slogan-intro">
        <h1>HỖ TRỢ</h1>
        <p>VỚI EZ-LIFE MỌI VIỆC ĐỀU VÔ CÙNG ĐƠN GIẢN</p>
    </div>
</div>
<!--Kết thúc phần Banner-->

<!--Bắt đầu phần nội dung-->
<div class="container">
    <div class="row">
        <div class="col-sm-3 text-right sticky h-100">
            <ul class="left">
                <li><a href="#dich-vu-khach-hang">Dịch vụ khách hàng</a></li>
                <li><a href="#cach-hoat-dong">Cách hoạt dộng</a></li>
                <li><a href="#dat-dich-vu">Đặt dịch vụ</a></li>
                <li><a href="#do-tin-cay">Độ tin cậy</a></li>
                <li><a href="#dat-dich-vu-dinh-ky">Đặt dịch vụ định kỳ</a></li>
                <li><a href="#thanh-toan">Thanh toán</a></li>
                <li><a href="#huy-dich-vu">Hủy dịch vụ</a></li>
                <li><a href="#hoan-tien">Hoàn tiền</a></li>
                <li><a href="#diem-thuong">Điểm thưởng</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-9 right h-100">
            <div id="dich-vu-khach-hang" class="item">
                <h3>Dịch vụ khách hàng</h3>
                <p>Quý khách có thể kết nối trực tiếp với dịch vụ khách hàng của chúng tôi thông qua hotline 0981864371
                    hoặc gửi email đến địa chỉ ez-life@gmail.com.
                    Tất cả các yêu cầu hỗ trợ đều được phản hồi muộn nhất trong vòng 24 giờ kể từ khi nhận được yêu cầu.
                </p>
            </div>
            <div id="cach-hoat-dong" class="item">
                <h3>EZ-LIFE hoạt động thế nào ?</h3>
                <p>EZ-LIFE là một hệ thống công nghê được phát triển bởi Công ty cổ phần dịch vụ EZ-LIFE
                    nhằm tạo ra cầu nối trực tiếp giữa khách hàng và người cung cấp dịch vụ.</p>
            </div>
            <div id="dat-dich-vu" class="item">
                <h3>Làm thế nào để đặt dịch vụ</h3>
                <p>Bạn có thể lên trang web www.ezlife.vn để thực hiện việc đặt yêu cầu dịch vụ.
                    Các yêu cầu dịch vụ của bạn sẽ được hệ thống kết nối và thông báo kết quả việc tìm được người làm
                    việc trong vòng 2h.</p>
            </div>
            <div id="do-tin-cay" class="item">
                <h3>Dịch vụ của EZ-LIFE có tin cậy không ?</h3>
                <p>Toàn bộ người cung cấp dịch vụ trên hệ thống EZ-LIFE đều đã được xác minh thân nhân, đã qua kiểm tra
                    và đào tạo kỹ năng cần thiết.
                    Vì vậy, bạn có thể hoàn toàn yên tâm với những người cung cấp dịch vụ đã được chúng tôi lựa chọn
                    giúp bạn.
                    Trường hợp bạn không hài lòng về chất lượng dịch vụ, chúng tôi đảm bảo sẽ hoàn phí dịch vụ trong
                    vòng 24h kể từ khi nhận được yêu cầu.</p>
            </div>
            <div id="dat-dich-vu-dinh-ky" class="item">
                <h3>Tôi có thể đặt dịch vụ định kỳ không ?</h3>
                <p>Bạn có thể đặt dịch vụ định kỳ với các dịch vụ bạn cần thường xuyên như giúp việc, lau dọn nhà cửa.
                    Để đặt dịch vụ định kỳ, bạn chỉ cần chọn Ngày trong tuần
                    (ví dụ thứ Hai, thứ Năm hàng tuần) và Thời điểm kết thúc kỳ (ví dụ hôm nay là ngày 01/01 và bạn muốn
                    đặt định kỳ trong vòng 01 tháng, bạn hãy chọn ngày kết thúc kỳ là ngày 31/01).</p>
            </div>
            <div id="thanh-toan" class="item">
                <h3>Tôi có thể thanh toán phí dịch vụ bằng cách nào ?</h3>
                <p>Bạn có thể thanh toán dưới nhiều hình thức:</p>
                <ul stype="list-style-type: circle">
                    <li>
                        <p>Thanh toán bằng tiền mặt trực tiếp cho người cung cấp dịch vụ sau khi công việc đã thực hiện
                            xong</p>
                    </li>
                    <li>
                        <p>Thanh toán trực tuyến bằng thẻ nội địa hoặc thẻ tín dụng </p>
                    </li>
                </ul>
            </div>
            <div id="huy-dich-vu" class="item">
                <h3>Tôi có thể huỷ dịch vụ đã đặt không ?</h3>
                <p>Bạn có thể huỷ dịch vụ đã đặt theo quy định hoàn huỷ được chi tiết với từng gói dịch vụ bạn đã đặt.
                </p>
            </div>
            <div id="hoan-tien" class="item">
                <h3>Tôi có được hoàn tiền nếu huỷ dịch vụ ?</h3>
                <p>Trong trường hợp bạn đã thanh toán trước phí dịch vụ, khi huỷ bạn sẽ được trả lại phần tiền đã thanh
                    toán sau khi trừ đi phí phạt huỷ quá hạn (nếu có).
                </p>
            </div>
            <div id="diem-thuong" class="item">
                <h3>Tôi tích lũy điểm thưởng và đổi điểm như thế nào ?</h3>
                <p>Với mỗi 100.000 đồng phí thực hiện dịch vụ, bạn sẽ nhận được 1000 điểm thưởng vào tài khoản cá nhân
                    của bạn.
                    Điểm thưởng được tích lũy để nâng hạng khách hàng thường xuyên của bạn và bạn có thể đổi điểm thưởng
                    thành tiền với mỗi 1000 điểm tương đương 1000 đồng.</p>
            </div>
        </div>
    </div>
</div>
<!--Kết thúc phần nội dung-->